// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/

:root {
  /** Ionic CSS Variables **/
  /** primary **/
  --ion-color-primary: #0e0e0e;
  --ion-color-primary-rgb: 14, 14, 14;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0c0c0c;
  --ion-color-primary-tint: #262626;
  /** secondary **/
  --ion-color-secondary: #565656;
  --ion-color-secondary-rgb: 86, 86, 86;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #4c4c4c;
  --ion-color-secondary-tint: #676767;
  /** tertiary **/
  --ion-color-tertiary: #9e9e9e;
  --ion-color-tertiary-rgb: 158, 158, 158;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #8b8b8b;
  --ion-color-tertiary-tint: #a8a8a8;
  /** success **/
  --ion-color-success: #68c134;
  --ion-color-success-rgb: 104, 193, 52;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #5caa2e;
  --ion-color-success-tint: #77c748;
  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;
  /** danger **/
  --ion-color-danger: #ff2800;
  --ion-color-danger-rgb: 255, 40, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e02300;
  --ion-color-danger-tint: #ff3e1a;
  /** dark **/
  --ion-color-dark: #262626;
  --ion-color-dark-rgb: 38, 38, 38;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #212121;
  --ion-color-dark-tint: #3c3c3c;
  /** medium **/
  --ion-color-medium: #6e6e6e;
  --ion-color-medium-rgb: 110, 110, 110;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #616161;
  --ion-color-medium-tint: #7d7d7d;
  /** light **/
  --ion-color-light: #e6e6e6;
  --ion-color-light-rgb: 230, 230, 230;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #cacaca;
  --ion-color-light-tint: #e9e9e9;

  // .split-pane-visible>.split-pane-side {
  //   min-width: 200px;
  //   /* Default: 270px */
  //   max-width: 304px;
  //   /* Same as when menu opens in mobile mode */
  // }

  #drawing {
    svg {
      box-shadow: 0px 0px 10px 1px rgba(182, 182, 182, 0.5);
      width: 100%;
      max-width: 600px;
      height: auto;
    }
  }

  .alert-radio-group {
    max-height: 75vh !important;
  }
}