<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      QLOCKGENERATOR
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="this.onClickGithubLogo()">
        <ion-icon slot="icon-only" name="logo-github"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row align-items-start>
      <ion-col size="12" size-sm="6" size-md="4" size-xl="2">
        <ion-row>
          <ion-col size="12">
            <ion-text>
              <h2>Allgemein</h2>
            </ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Variante</ion-label>
              <ion-input [(ngModel)]="this.generalFrontVariant.data.info.model" readonly="true" (ionFocus)="this.onClickFrontVariant()">
                <ion-icon name="arrow-dropdown"></ion-icon>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Höhe (mm)</ion-label>
              <ion-input type="number" [ngModel]="this.generalFrontHeight" debounce="300" (ionChange)="this.onChangeFrontHeight($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Breite (mm)</ion-label>
              <ion-input type="number" [ngModel]="this.generalFrontWidth" debounce="300" (ionChange)="this.onChangeFrontWidth($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label>Spiegelverkehrt</ion-label>
              <ion-toggle [(ngModel)]="this.generalFrontMirror" slot="end" debounce="300" (ionChange)="this.onChangeFrontMirror()"></ion-toggle>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label>Outline</ion-label>
              <ion-toggle [(ngModel)]="this.generalFrontOutline" slot="end" debounce="300" (ionChange)="this.onChangeFrontMirror()"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-xl="2">
        <ion-row>
          <ion-col size="12">
            <h2>Minuten</h2>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Platzierung</ion-label>
              <ion-select [(ngModel)]="this.minutesPlacement" okText="Okay" cancelText="Abbrechen" debounce="300"
                (ionChange)="this.onChangeMinutesPlacement($event)">
                <ion-select-option value="corner">Ecken</ion-select-option>
                <ion-select-option value="horizontal">Waagerecht</ion-select-option>
                <ion-select-option value="vertical">Senkrecht</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Radius (mm)</ion-label>
              <ion-input type="number" [ngModel]="this.minutesRadius" debounce="300" (ionChange)="this.onChangeMinutesRadius($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Abstand X (mm)</ion-label>
              <ion-input type="number" [ngModel]="this.minutesDistanceX" debounce="300" (ionChange)="this.onChangeMinutesDistanceX($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Abstand Y (mm)</ion-label>
              <ion-input type="number" [ngModel]="this.minutesDistanceY" debounce="300" (ionChange)="this.onChangeMinutesDistanceY($event)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-xl="2">
        <ion-row>
          <ion-col size="12">
            <ion-text>
              <h2>Alarm</h2>
            </ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-item lines="full">
              <ion-label position="stacked">Symbol</ion-label>
              <ion-input [(ngModel)]="this.alarmSymbol.label" readonly="true" (ionFocus)="this.onClickAlarmSymbol($event)">
                <ion-icon name="arrow-dropdown"></ion-icon>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Größe (mm)</ion-label>
              <ion-input type="number" [ngModel]="this.alarmSize" debounce="300" (ionChange)="this.onChangeAlarmSize($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Abstand X (mm)</ion-label>
              <ion-input type="number" [ngModel]="this.alarmDistanceX" debounce="300" (ionChange)="this.onChangeAlarmDistanceX($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Abstand Y (mm)</ion-label>
              <ion-input type="number" [ngModel]="this.alarmDistanceY" debounce="300" (ionChange)="this.onChangeAlarmDistanceY($event)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="12" size-xl="6">
        <ion-row>
          <ion-col size="12">
            <ion-text>
              <h2>Matrix</h2>
            </ion-text>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="4" no-padding>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Spalten</ion-label>
                  <ion-input type="number" [ngModel]="this.matrixColumns" debounce="300" (ionChange)="this.onChangeMatrixColumns($event)"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Zeilen</ion-label>
                  <ion-input type="number" [ngModel]="this.matrixRows" debounce="300" (ionChange)="this.onChangeMatrixRows($event)"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Abstand X (mm)</ion-label>
                  <ion-input type="number" [ngModel]="this.matrixDistanceX" debounce="300" (ionChange)="this.onChangeMatrixDistanceX($event)"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Abstand Y (mm)</ion-label>
                  <ion-input type="number" [ngModel]="this.matrixDistanceY" debounce="300" (ionChange)="this.onChangeMatrixDistanceY($event)"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="4" no-padding>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Sprache</ion-label>
                  <ion-input [(ngModel)]="this.matrixLanguage.label" readonly="true" (ionFocus)="this.onClickMatrixLanguage($event)">
                    <ion-icon name="arrow-dropdown"></ion-icon>
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Text</ion-label>
                  <ion-textarea rows="10" [(ngModel)]="this.matrixText" debounce="300" (ionChange)="this.onChangeMatrixText($event)"></ion-textarea>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="4" no-padding>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Schriftart</ion-label>
                  <ion-input [(ngModel)]="this.matrixFont.label" readonly="true" (ionFocus)="this.onClickMatrixFont($event)">
                    <ion-icon name="arrow-dropdown"></ion-icon>
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Schriftgröße (mm)</ion-label>
                  <ion-input type="number" [ngModel]="this.matrixFontSize" debounce="300" (ionChange)="this.onChangeMatrixFontSize($event)"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="8" size-xl="4">
        <ion-row>
          <ion-col size="12">
            <ion-text>
              <h2>Logo</h2>
            </ion-text>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="6" no-padding>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Text</ion-label>
                  <ion-input type="text" [ngModel]="this.logoText" debounce="300" (ionChange)="this.onChangeLogoText($event)"
                    placeholder="QLOCKGENERATOR"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Größe (mm)</ion-label>
                  <ion-input type="number" [ngModel]="this.logoTextSize" debounce="300" (ionChange)="this.onChangeLogoTextSize($event)"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="12" size-sm="6" size-md="6" no-padding>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Abstand X (mm)</ion-label>
                  <ion-input type="number" [ngModel]="this.logoDistanceX" debounce="300" (ionChange)="this.onChangeLogoDistanceX($event)"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">Abstand Y (mm)</ion-label>
                  <ion-input type="number" [ngModel]="this.logoDistanceY" debounce="300" (ionChange)="this.onChangeLogoDistanceY($event)"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" size-sm="6" size-md="4" size-xl="2">
        <ion-row>
          <ion-col size="12">
            <ion-text>
              <h2>Farbe</h2>
            </ion-text>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Front</ion-label>
              <ion-input type="text" [ngModel]="this.colorFront" debounce="300" (ionChange)="this.onChangeColorFront($event)"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Beleuchtung</ion-label>
              <ion-input type="text" [ngModel]="this.colorLight" debounce="300" (ionChange)="this.onChangeColorLight($event)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row margin-top margin-bottom justify-content-center>
      <ion-col size="12">
        <ion-text>
          <h2>Vorschau</h2>
        </ion-text>
      </ion-col>
      <ion-col size="8" text-center>
        <div #drawing id="drawing"></div>
      </ion-col>
    </ion-row>
    <ion-row margin-top>
      <ion-col size="12">
        <ion-text>
          <h2>Export</h2>
        </ion-text>
      </ion-col>
      <ion-col text-center>
        <ion-button color="primary" expand="block" fill="outline" (click)="this.exportAsSVG()">SVG</ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button color="primary" expand="block" fill="outline" (click)="this.exportAsDXF()">DXF</ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button color="primary" expand="block" fill="outline" (click)="this.exportAsPDF()">PDF</ion-button>
      </ion-col>
      <ion-col text-center>
        <ion-button color="primary" expand="block" fill="outline" (click)="this.exportAsPNG()">PNG</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>